{% extends 'base.twig' %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block styleCustom %}
{{ parent() }}
<style>
    /* custom style could go here */
</style>
{% endblock %}

{% block title %}{{site_name}} - Home{% endblock %}

{% block breadcrumb %}
<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
        </ol>
    </div>
</div>
{% endblock %}

{% block content %}

    <h1>Hello World</h1>

    {% if foo %}
    <pre>{{dump(foo)}}</pre>
    {% else %}
    <p><a href="?foo=hello">Set ?foo</a> GET param</p>
    {% endif %}

    <h4>dump(app.session)</h4>
    <pre>{{dump(user)}}</pre>

    <h4>dump(data)</h4>
    <pre>{{dump(data)}}</pre>

    <h4>dump(single)</h4>
    <pre>{{dump(single)}}</pre>

    <p><a href="{{ app.url_generator.generate('index') }}">Back to homepage</a></p>

{% endblock %}

{% block scriptCustom %}
{{ parent() }}
<script>
    //custom script to go here
</script>
{% endblock %}