<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{site_name}}{% endblock %}</title>

    {% block styleCustom %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/style.css">
    {% endblock %}

    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('index') }}">{{site_name}}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('index') }}">Home</a></li>
                    <li><a href="/a-not-found-route">404 Not Found</a></li>
                    {% if user.username is defined %}
                    <li><a href="{{ path('user.account') }}">Account</a></li>
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ path('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block breadcrumb %}{% endblock %}

                {% if app.session.flashbag.has('alert') %}
                    {% for flashMessage in app.session.flashbag.get('alert') %}
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                    {% endfor %}
                {% endif %}

                {% block content %}{% endblock %}
            </div>
        </div>
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; {{site_name}} {{date()|date('Y')}}</p>
                </div>
            </div>
        </footer>
    </div>
    {% block scriptCustom %}
    <script src="{{ app.request.basepath }}/js/jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
    <script src="{{ app.request.basepath }}/js/site.js"></script>
    {% endblock %}
</body>

</html>