{% extends 'base.twig' %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block title %}{{site_name}} - 404 Not Found{% endblock %}

{% block content %}

    <h1>Error404 - Page not found</h1>

    <p>{{error_msg}}</p>

    <p><a href="{{ app.url_generator.generate('index') }}">Back to homepage</a></p>

{% endblock %}