{% extends 'base.twig' %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block styleCustom %}
{{ parent() }}
<style>
    /* custom style could go here */
</style>
{% endblock %}

{% block title %}{{site_name}} - User - {{user.username}}{% endblock %}

{% block breadcrumb %}
<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('index') }}">Home</a></li>
            <li><a href="{{ path('user') }}">User</a></li>
            <li><a href="{{ path('user.account') }}">Account</a></li>
        </ol>
    </div>
</div>
{% endblock %}

{% block content %}

    <h1>Hello {{user.name}}</h1>

    {% if user %}
    <pre>{{dump(user)}}</pre>
    {% endif %}

    <p><a href="{{ app.url_generator.generate('index') }}">Back to homepage</a></p>

{% endblock %}

{% block scriptCustom %}
{{ parent() }}
<script>
    //custom script to go here
</script>
{% endblock %}