{% extends 'base.twig' %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block styleCustom %}
{{ parent() }}
<style>
    /* custom style could go here */
</style>
{% endblock %}

{% block title %}{{site_name}} - Login{% endblock %}

{% block breadcrumb %}
<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('index') }}">Home</a></li>
            <li><a href="{{ path('login') }}">Login</a></li>
        </ol>
    </div>
</div>
{% endblock %}

{% block content %}

<h4 class="page-header">Sign In</h4>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-content">

                <p class="text-muted lead">
                    Don't have an account? <a href="{{ path('user.register') }}">Register now.</a>
                </p>

				<form class="form-horizontal" role="form" id="loginForm" name="loginForm" action="" method="post" autocomplete="off">
					{{ form_errors(form) }}
					<div class="form-group">
				        <label for="email" class="required col-lg-2 control-label">{{ form_label(form.email, 'Your email:') }}</label>
				        <div class="col-lg-5">
				            {{ form_widget(form.email) }}
				            {{ form_errors(form.email) }}
				        </div>
				    </div>
				    <div class="form-group">
				        <label for="password" class="required col-lg-2 control-label">{{ form_label(form.email, 'Your password:') }}</label>
				        <div class="col-lg-5">
				            {{ form_widget(form.password) }}
				            {{ form_errors(form.password) }}
				        </div>
				    </div>
				    <div class="form-group">
                        <div class="col-lg-5 col-sm-offset-2">
                            <button type="submit" class="btn btn-success">Login</button>
                        </div>
                    </div>
					{{ form_widget(form) }}
				</form>

			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scriptCustom %}
{{ parent() }}
{% endblock %}