{% extends 'base.twig' %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block styleCustom %}
{{ parent() }}
<style>
    /* custom style could go here */
</style>
{% endblock %}

{% block title %}{{site_name}} - Register{% endblock %}

{% block breadcrumb %}
<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('index') }}">Home</a></li>
            <li><a href="{{ path('user.register') }}">Register</a></li>
        </ol>
    </div>
</div>
{% endblock %}

{% block content %}

<h4 class="page-header">Register Account</h4>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-content">

                <p class="text-muted lead">
                    Already have an account? <a href="{{ path('login') }}">Login now.</a>
                </p>

				<form class="form-horizontal" role="form" id="registerForm" name="registerForm" action="" method="post" autocomplete="off">
					{{form_widget(form._token)}}
					<div class="form-group">
				        <label for="name" class="required col-lg-2 control-label">{{ form_label(form.name, 'Your name:') }}</label>
				        <div class="col-lg-5">
				            {{ form_widget(form.name) }}
				            {{ form_errors(form.name) }}
				        </div>
				    </div>
				    <div class="form-group">
				        <label for="username" class="required col-lg-2 control-label">{{ form_label(form.username, 'Your username:') }}</label>
				        <div class="col-lg-5">
				            {{ form_widget(form.username) }}
				            {{ form_errors(form.username) }}
				        </div>
				    </div>
					<div class="form-group">
				        <label for="email" class="required col-lg-2 control-label">{{ form_label(form.email, 'Your email:') }}</label>
				        <div class="col-lg-5">
				            {{ form_widget(form.email) }}
				            {{ form_errors(form.email) }}
				        </div>
				    </div>
				    <div class="form-group">
				        <label for="form_password_first" class="required col-lg-2 control-label">Password</label>
				        <div class="col-lg-5">
				            <input type="password" id="form[password][first]" name="form[password][first]" required="required"  class="form-control">
				        </div>
				    </div>
				    <div class="form-group">
				        <label for="form_password_second" class="required col-lg-2 control-label">Repeat Password</label>
				        <div class="col-lg-5">
				            <input type="password" id="form[password][second]" name="form[password][second]" required="required"  class="form-control">
				            {{ form_errors(form) }}
				        </div>
				    </div>
				    <div class="form-group">
                        <div class="col-lg-5 col-sm-offset-2">
                            <button type="submit" class="btn btn-success">Register</button>
                        </div>
                    </div>
				</form>

			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scriptCustom %}
{{ parent() }}
{% endblock %}